openapi: 3.2.0
info:
  title: Quandela Cloud QRNG API
  version: v2.8.0-rc4
  description: "\nThis is the official API documentation.\n\n## Overview\n\nThis API provides access to various features and services.  \n\n## Authentication\n\nAll endpoints require an access token generated by the authorization server.\n\nInclude the token in the request headers:\n\n```http\nAuthorization: Bearer YOUR_ACCESS_TOKEN\n```\nEnsure the token is valid and not expired.\n\n"
  contact:
    name: Support
    url: https://www.quandela.com/about-us/contact-us/
  termsOfService: https://www.quandela.com/legal-terms/
servers:
- url: https://api.cloud.quandela.com/
tags:
- name: QRNG
  description: Quantum Random Number generation
paths:
  /qt/qrng/bytes:
    get:
      description: Authenticate by `Cloud Job Token`
      parameters:
      - description: Count of the random bytes
        in: query
        name: count
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrngBytesOutput'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Entropy Pool empty
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: Entropy raw random bytes
      tags:
      - QRNG
      operationId: get_qt_qrng_bytes
  /qt/qrng/ints:
    get:
      description: Authenticate by `Cloud Job Token`
      parameters:
      - description: 'Type of numbers: uint8(1 bit), uint16(2 bits), uint32(4 bits), uint64 (8 bits)'
        in: query
        name: type
        required: true
        schema:
          enum:
          - uint8
          - uint16
          - uint32
          - uint64
          type: string
      - description: Number of random bytes to generate
        in: query
        name: count
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrngIntsOutput'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Entropy Pool empty
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: Entropy random numbers
      tags:
      - QRNG
      operationId: get_qt_qrng_ints
components:
  schemas:
    QrngIntsOutput:
      additionalProperties: false
      properties:
        jobs:
          description: Jobs used to generate random ints
          items:
            $ref: '#/components/schemas/JobInts'
          type: array
      required:
      - jobs
      type: object
    QrngBytesOutput:
      additionalProperties: false
      properties:
        jobs:
          description: Jobs used to generate random bytes
          items:
            $ref: '#/components/schemas/JobBytes'
          type: array
      required:
      - jobs
      type: object
    JobBytes:
      additionalProperties: false
      properties:
        bytes:
          description: Random bytes in base64
        chsh:
          description: CHSH value (0 to 2 sqrt(2)
          type: number
        id:
          description: Job ID in UUID format
          type: string
        min_entropy:
          description: Minimum Entropy
          type: number
      required:
      - chsh
      - id
      - min_entropy
      type: object
    HTTPError:
      properties:
        detail:
          type: object
        error:
          type: string
      type: object
    JobInts:
      additionalProperties: false
      properties:
        chsh:
          description: CHSH value (0 to 2 sqrt(2)
          type: number
        id:
          description: Job ID in UUID format
          type: string
        ints:
          items:
            type: integer
          type: array
        min_entropy:
          description: Minimum Entropy
          type: number
      required:
      - chsh
      - id
      - min_entropy
      type: object
    ValidationError:
      properties:
        detail:
          properties:
            <location>:
              properties:
                <field_name>:
                  items:
                    type: string
                  type: array
              type: object
          type: object
        message:
          type: string
      type: object
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
