openapi: 3.2.0
info:
  title: Quandela Cloud Quantum Toolbox API
  version: v2.8.0-rc4
  description: "\nThis is the official API documentation.\n\n## Overview\n\nThis API provides access to various features and services.  \n\n## Authentication\n\nAll endpoints require an access token generated by the authorization server.\n\nInclude the token in the request headers:\n\n```http\nAuthorization: Bearer YOUR_ACCESS_TOKEN\n```\nEnsure the token is valid and not expired.\n\n"
  contact:
    name: Support
    url: https://www.quandela.com/about-us/contact-us/
  termsOfService: https://www.quandela.com/legal-terms/
servers:
- url: https://api.cloud.quandela.com/
tags:
- name: QuantumToolbox
  description: Quantum Toolbox entrypoints
paths:
  /qt/chemistryvqe:
    post:
      description: Chemistry VQE input API
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChemistryVqeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QTJobId'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: Chemistry VQE
      tags:
      - QuantumToolbox
      operationId: post_qt_chemistryvqe
  /qt/chemistryvqe/estimate:
    post:
      description: Chemistry VQE input API
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChemistryVqeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QTJobId'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: Chemistry VQE Estimator
      tags:
      - QuantumToolbox
      operationId: post_qt_chemistryvqe_estimate
  /qt/chemistryvqe/{job_id}/results:
    get:
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChemistryVQEJobResult'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Invalid job_id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      security:
      - BearerAuth: []
      summary: Chemistry VQE Results
      tags:
      - QuantumToolbox
      operationId: get_qt_chemistryvqe_by_job_id_results
  /qt/chemistryvqe/{job_id}/status:
    get:
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChemistryVQEJobStatus'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Invalid job_id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      security:
      - BearerAuth: []
      summary: Chemistry VQE Status
      tags:
      - QuantumToolbox
      operationId: get_qt_chemistryvqe_by_job_id_status
  /qt/customvqe:
    post:
      description: Custom VQE input API
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomVqeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QTJobId'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: Custom VQE
      tags:
      - QuantumToolbox
      operationId: post_qt_customvqe
  /qt/customvqe/estimate:
    post:
      description: Custom VQE input API
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomVqeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QTJobId'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: Custom VQE Estimator
      tags:
      - QuantumToolbox
      operationId: post_qt_customvqe_estimate
  /qt/customvqe/{job_id}/results:
    get:
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVQEJobResult'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Invalid job_id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      security:
      - BearerAuth: []
      summary: Custom VQE Results
      tags:
      - QuantumToolbox
      operationId: get_qt_customvqe_by_job_id_results
  /qt/customvqe/{job_id}/status:
    get:
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVQEJobStatus'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Invalid job_id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      security:
      - BearerAuth: []
      summary: Custom VQE Status
      tags:
      - QuantumToolbox
      operationId: get_qt_customvqe_by_job_id_status
  /qt/cvarvqe:
    post:
      description: CVar VQE input API
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CVarVqeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QTJobId'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: CVar VQE
      tags:
      - QuantumToolbox
      operationId: post_qt_cvarvqe
  /qt/cvarvqe/estimate:
    post:
      description: CVar VQE input API
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CVarVqeParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QTJobId'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: CVar VQE Estimator
      tags:
      - QuantumToolbox
      operationId: post_qt_cvarvqe_estimate
  /qt/cvarvqe/{job_id}/results:
    get:
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVarVQEJobResult'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Invalid job_id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      security:
      - BearerAuth: []
      summary: CVar VQE Results
      tags:
      - QuantumToolbox
      operationId: get_qt_cvarvqe_by_job_id_results
  /qt/cvarvqe/{job_id}/status:
    get:
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVarVQEJobStatus'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Invalid job_id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      security:
      - BearerAuth: []
      summary: CVar VQE Status
      tags:
      - QuantumToolbox
      operationId: get_qt_cvarvqe_by_job_id_status
  /qt/graphDSI:
    post:
      description: Graph algorithm for DSI
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphDSIParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QTJobId'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: Graph DSI
      tags:
      - QuantumToolbox
      operationId: post_qt_graphDSI
  /qt/graphDSI/estimate:
    post:
      description: Graph algorithm for DSI
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphDSIParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QTJobId'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: Graph DSI Estimator
      tags:
      - QuantumToolbox
      operationId: post_qt_graphDSI_estimate
  /qt/graphDSI/{job_id}/results:
    get:
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphDSIJobResult'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Invalid job_id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      security:
      - BearerAuth: []
      summary: Graph DSI Results
      tags:
      - QuantumToolbox
      operationId: get_qt_graphDSI_by_job_id_results
  /qt/graphDSI/{job_id}/status:
    get:
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphDSIJobStatus'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Invalid job_id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      security:
      - BearerAuth: []
      summary: Graph DSI Status
      tags:
      - QuantumToolbox
      operationId: get_qt_graphDSI_by_job_id_status
  /qt/graphIsomorphism:
    post:
      description: Graph algorithm for graph isomorphism
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphIsomorphismParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QTJobId'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: Graph Isomorphism
      tags:
      - QuantumToolbox
      operationId: post_qt_graphIsomorphism
  /qt/graphIsomorphism/estimate:
    post:
      description: Graph algorithm for graph isomorphism
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphIsomorphismParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QTJobId'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      security:
      - BearerAuth: []
      summary: Graph Isomorphism Estimator
      tags:
      - QuantumToolbox
      operationId: post_qt_graphIsomorphism_estimate
  /qt/graphIsomorphism/{job_id}/results:
    get:
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphIsomorphismJobResult'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Invalid job_id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      security:
      - BearerAuth: []
      summary: Graph Isomorphism Results
      tags:
      - QuantumToolbox
      operationId: get_qt_graphIsomorphism_by_job_id_results
  /qt/graphIsomorphism/{job_id}/status:
    get:
      parameters:
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphIsomorphismJobStatus'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Invalid job_id
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Permission denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      security:
      - BearerAuth: []
      summary: Graph Isomorphism Status
      tags:
      - QuantumToolbox
      operationId: get_qt_graphIsomorphism_by_job_id_status
components:
  schemas:
    Atom:
      additionalProperties: false
      properties:
        coordinates:
          items:
            type: number
          maxItems: 3
          minItems: 3
          type: array
        element:
          type: string
      required:
      - coordinates
      - element
      type: object
    GraphIsomorphismJobResult:
      additionalProperties: false
      properties:
        duration:
          description: Duration in seconds
          example: 42
          type: integer
        intermediate_results:
          description: Results with timestamps
          items:
            $ref: '#/components/schemas/IntermediateGraphIsomorphismResults'
          type: array
        job_id:
          type: string
        progress:
          example: 0.7
          type: number
        progress_message:
          description: detailed message
          type: string
        results:
          $ref: '#/components/schemas/GraphIsomorphismResults'
        status:
          description: Status code
          enum:
          - waiting
          - running
          - canceled
          - completed
          - error
          example: running
          type: string
        status_message:
          description: detailed message
          type: string
      required:
      - duration
      - job_id
      type: object
    QTJobId:
      additionalProperties: false
      properties:
        job_id:
          type: string
      required:
      - job_id
      type: object
    CustomVQEJobResult:
      additionalProperties: false
      properties:
        duration:
          description: Duration in seconds
          example: 42
          type: integer
        intermediate_results:
          description: Results with timestamps
          items:
            $ref: '#/components/schemas/IntermediateCustomVqeResults'
          type: array
        job_id:
          type: string
        progress:
          example: 0.7
          type: number
        progress_message:
          description: detailed message
          type: string
        results:
          $ref: '#/components/schemas/CustomVqeResults'
        status:
          description: Status code
          enum:
          - waiting
          - running
          - canceled
          - completed
          - error
          example: running
          type: string
        status_message:
          description: detailed message
          type: string
      required:
      - duration
      - job_id
      type: object
    ChemistryVqeParams:
      additionalProperties: false
      properties:
        geometry:
          example:
          - coordinates:
            - 0.0
            - 0.0
            - 0.0
            element: Li
          - coordinates:
            - 0.0
            - 0.0
            - 1.595
            element: H
          items:
            $ref: '#/components/schemas/Atom'
          minItems: 1
          type: array
        max_iterations:
          default: 200
          minimum: 1
          type:
          - integer
          - 'null'
        platform_name:
          example: sim:gpu:medium
          type: string
      required:
      - geometry
      - platform_name
      type: object
    ValidationError:
      properties:
        detail:
          properties:
            <location>:
              properties:
                <field_name>:
                  items:
                    type: string
                  type: array
              type: object
          type: object
        message:
          type: string
      type: object
    CustomVQEJobStatus:
      additionalProperties: false
      properties:
        duration:
          description: Duration in seconds
          example: 42
          type: integer
        last_intermediate_results:
          $ref: '#/components/schemas/IntermediateCustomVqeResults'
        progress:
          example: 0.7
          type: number
        progress_message:
          description: detailed message
          type: string
        status:
          description: Status code
          enum:
          - waiting
          - running
          - canceled
          - completed
          - error
          example: running
          type: string
        status_message:
          description: detailed message
          type: string
      required:
      - duration
      type: object
    IntermediateCustomVqeResults:
      additionalProperties: false
      properties:
        estimation:
          $ref: '#/components/schemas/EstimationResult'
        loss:
          type: number
        timestamp:
          type: number
      required:
      - loss
      type: object
    GraphDSIJobStatus:
      additionalProperties: false
      properties:
        duration:
          description: Duration in seconds
          example: 42
          type: integer
        last_intermediate_results:
          $ref: '#/components/schemas/IntermediateGraphDSIResults'
        progress:
          example: 0.7
          type: number
        progress_message:
          description: detailed message
          type: string
        status:
          description: Status code
          enum:
          - waiting
          - running
          - canceled
          - completed
          - error
          example: running
          type: string
        status_message:
          description: detailed message
          type: string
      required:
      - duration
      type: object
    GraphDSIJobResult:
      additionalProperties: false
      properties:
        duration:
          description: Duration in seconds
          example: 42
          type: integer
        intermediate_results:
          description: Results with timestamps
          items:
            $ref: '#/components/schemas/IntermediateGraphDSIResults'
          type: array
        job_id:
          type: string
        progress:
          example: 0.7
          type: number
        progress_message:
          description: detailed message
          type: string
        results:
          $ref: '#/components/schemas/GraphDSIResults'
        status:
          description: Status code
          enum:
          - waiting
          - running
          - canceled
          - completed
          - error
          example: running
          type: string
        status_message:
          description: detailed message
          type: string
      required:
      - duration
      - job_id
      type: object
    CVarVQEJobStatus:
      additionalProperties: false
      properties:
        duration:
          description: Duration in seconds
          example: 42
          type: integer
        last_intermediate_results:
          $ref: '#/components/schemas/IntermediateCVarVqeResults'
        progress:
          example: 0.7
          type: number
        progress_message:
          description: detailed message
          type: string
        status:
          description: Status code
          enum:
          - waiting
          - running
          - canceled
          - completed
          - error
          example: running
          type: string
        status_message:
          description: detailed message
          type: string
      required:
      - duration
      type: object
    HTTPError:
      properties:
        detail:
          type: object
        error:
          type: string
      type: object
    GraphDSIParams:
      additionalProperties: false
      properties:
        graph:
          example:
          - - 0
            - 1
          - - 1
            - 2
          - - 2
            - 3
          - - 2
            - 4
          - - 3
            - 4
          items: {}
          minItems: 1
          type: array
        max_iterations:
          example: 30
          maximum: 100
          minimum: 1
          type: integer
        nb_samples:
          example: 10000
          maximum: 10000000
          minimum: 1
          type: integer
        nb_samples_min_accepted:
          example: 100
          maximum: 10000
          minimum: 1
          type: integer
        platform_name:
          example: sim:gpu:small
          type: string
        seed:
          example:
          - 3
          items:
            type: integer
          minItems: 1
          type: array
        size_subgraph:
          example: 3
          type: integer
      required:
      - graph
      - platform_name
      - seed
      - size_subgraph
      type: object
    EstimationResult1:
      additionalProperties: false
      properties:
        explanation:
          type: string
        nb_shots:
          type: integer
      type: object
    IntermediateChemistryVqeResults:
      additionalProperties: false
      properties:
        difference_with_theoretical_value:
          type: number
        estimation:
          $ref: '#/components/schemas/EstimationResult'
        loss:
          type: number
        timestamp:
          type: number
      required:
      - difference_with_theoretical_value
      - loss
      type: object
    CVarVqeParams:
      additionalProperties: false
      properties:
        max_iterations:
          default: 200
          minimum: 1
          type:
          - integer
          - 'null'
        platform_name:
          example: sim:gpu:medium
          type: string
        qubo_matrix:
          example:
          - - 25
            - -12
            - 0
            - -5
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -8
          - - -12
            - 30
            - -15
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - -15
            - 28
            - -10
            - 0
            - 0
            - 0
            - -7
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - -5
            - 0
            - -10
            - 35
            - -20
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - -20
            - 40
            - -18
            - 0
            - 0
            - 0
            - 0
            - -9
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - -18
            - 32
            - -14
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - -14
            - 27
            - -16
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - -7
            - 0
            - 0
            - 0
            - -16
            - 33
            - -11
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -11
            - 29
            - -13
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -13
            - 31
            - -17
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - -9
            - 0
            - 0
            - 0
            - 0
            - -17
            - 36
            - -19
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -19
            - 34
            - -15
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -15
            - 28
            - -12
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -12
            - 30
            - -14
            - 0
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -14
            - 32
            - -16
            - 0
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -16
            - 29
            - -13
            - 0
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -13
            - 27
            - -11
            - 0
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -11
            - 31
            - -15
            - 0
          - - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -15
            - 33
            - -18
          - - -8
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - 0
            - -18
            - 35
          items:
            items:
              type: number
            type: array
          maxItems: 70
          type: array
      required:
      - platform_name
      - qubo_matrix
      type: object
    CVarVqeResults:
      additionalProperties: false
      properties:
        bitstring:
          type: string
        estimation:
          $ref: '#/components/schemas/EstimationResult'
        loss:
          type: number
      required:
      - bitstring
      - loss
      type: object
    IntermediateGraphDSIResults:
      additionalProperties: false
      properties:
        estimation:
          $ref: '#/components/schemas/EstimationResult1'
        subgraphs_density:
          additionalProperties:
            type: integer
          type: object
        timestamp:
          type: number
      type: object
    CustomVqeResults:
      additionalProperties: false
      properties:
        estimation:
          $ref: '#/components/schemas/EstimationResult'
        loss:
          type: number
      required:
      - loss
      type: object
    EstimationResult:
      additionalProperties: false
      properties:
        nb_iterations:
          type: integer
        nb_shots_per_job:
          type: integer
        nb_total_shots:
          type: integer
      type: object
    CVarVQEJobResult:
      additionalProperties: false
      properties:
        duration:
          description: Duration in seconds
          example: 42
          type: integer
        intermediate_results:
          description: Results with timestamps
          items:
            $ref: '#/components/schemas/IntermediateCVarVqeResults'
          type: array
        job_id:
          type: string
        progress:
          example: 0.7
          type: number
        progress_message:
          description: detailed message
          type: string
        results:
          $ref: '#/components/schemas/CVarVqeResults'
        status:
          description: Status code
          enum:
          - waiting
          - running
          - canceled
          - completed
          - error
          example: running
          type: string
        status_message:
          description: detailed message
          type: string
      required:
      - duration
      - job_id
      type: object
    IntermediateCVarVqeResults:
      additionalProperties: false
      properties:
        bitstring:
          type: string
        estimation:
          $ref: '#/components/schemas/EstimationResult'
        loss:
          type: number
        timestamp:
          type: number
      required:
      - bitstring
      - loss
      type: object
    ChemistryVQEJobStatus:
      additionalProperties: false
      properties:
        duration:
          description: Duration in seconds
          example: 42
          type: integer
        last_intermediate_results:
          $ref: '#/components/schemas/IntermediateChemistryVqeResults'
        progress:
          example: 0.7
          type: number
        progress_message:
          description: detailed message
          type: string
        status:
          description: Status code
          enum:
          - waiting
          - running
          - canceled
          - completed
          - error
          example: running
          type: string
        status_message:
          description: detailed message
          type: string
      required:
      - duration
      type: object
    GraphDSIResults:
      additionalProperties: false
      properties:
        estimation:
          $ref: '#/components/schemas/EstimationResult1'
        subgraphs_density:
          additionalProperties:
            type: integer
          type: object
      type: object
    ChemistryVqeResults:
      additionalProperties: false
      properties:
        difference_with_theoretical_value:
          type: number
        estimation:
          $ref: '#/components/schemas/EstimationResult'
        loss:
          type: number
      required:
      - difference_with_theoretical_value
      - loss
      type: object
    IntermediateGraphIsomorphismResults:
      additionalProperties: false
      properties:
        estimation:
          $ref: '#/components/schemas/EstimationResult1'
        is_isomorphic:
          type: boolean
        timestamp:
          type: number
      type: object
    CustomVqeParams:
      additionalProperties: false
      properties:
        hamiltonian_strings:
          example:
          - XIIX
          - ZZYY
          - ZXYY
          - ZZZZ
          items:
            type: string
          minItems: 1
          type: array
        hamiltonian_weights:
          example:
          - -0.5
          - 1
          - 2.44
          - 5
          items:
            type: number
          minItems: 1
          type: array
        max_iterations:
          default: 200
          minimum: 1
          type:
          - integer
          - 'null'
        platform_name:
          example: sim:gpu:medium
          type: string
      required:
      - hamiltonian_strings
      - hamiltonian_weights
      - platform_name
      type: object
    GraphIsomorphismParams:
      additionalProperties: false
      properties:
        algo:
          description: 'Algorithm to use : Permanental Polynomials or Laplacian PP'
          enum:
          - Laplacian PP
          - PP
          type: string
        epsilon:
          example: 10
          type: number
        error:
          example: 0.1
          type: number
        graph_a:
          example:
          - - 0
            - 1
          - - 1
            - 2
          - - 2
            - 3
          - - 2
            - 4
          - - 3
            - 4
          items: {}
          minItems: 1
          type: array
        graph_b:
          example:
          - - 0
            - 1
          - - 1
            - 2
          - - 2
            - 3
          - - 2
            - 4
          - - 3
            - 4
          items: {}
          minItems: 1
          type: array
        max_iterations:
          example: 30
          maximum: 100
          minimum: 1
          type: integer
        nb_samples:
          example: 10000
          maximum: 10000000
          minimum: 1
          type: integer
        nb_samples_min_accepted:
          example: 100
          maximum: 10000
          minimum: 1
          type: integer
        platform_name:
          example: sim:gpu:small
          type: string
      required:
      - graph_a
      - graph_b
      - platform_name
      type: object
    GraphIsomorphismResults:
      additionalProperties: false
      properties:
        estimation:
          $ref: '#/components/schemas/EstimationResult1'
        is_isomorphic:
          type: boolean
      type: object
    ChemistryVQEJobResult:
      additionalProperties: false
      properties:
        duration:
          description: Duration in seconds
          example: 42
          type: integer
        intermediate_results:
          description: Results with timestamps
          items:
            $ref: '#/components/schemas/IntermediateChemistryVqeResults'
          type: array
        job_id:
          type: string
        progress:
          example: 0.7
          type: number
        progress_message:
          description: detailed message
          type: string
        results:
          $ref: '#/components/schemas/ChemistryVqeResults'
        status:
          description: Status code
          enum:
          - waiting
          - running
          - canceled
          - completed
          - error
          example: running
          type: string
        status_message:
          description: detailed message
          type: string
      required:
      - duration
      - job_id
      type: object
    GraphIsomorphismJobStatus:
      additionalProperties: false
      properties:
        duration:
          description: Duration in seconds
          example: 42
          type: integer
        last_intermediate_results:
          $ref: '#/components/schemas/IntermediateGraphIsomorphismResults'
        progress:
          example: 0.7
          type: number
        progress_message:
          description: detailed message
          type: string
        status:
          description: Status code
          enum:
          - waiting
          - running
          - canceled
          - completed
          - error
          example: running
          type: string
        status_message:
          description: detailed message
          type: string
      required:
      - duration
      type: object
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
